.code-editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.editor-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.action-buttons {
  margin-left: 10px;
}

.run-btn, .submit-btn {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.run-btn:hover , .submit-btn:hover {
  transform: translateY(-2px);
}

.action-buttons .p-button:hover {
  transform: translateY(-2px);
}

.language-selector {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.editor-wrapper {
  flex: 1;
  overflow: hidden;
}
