.code-editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}

.editor-wrapper {
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.action-buttons {
  margin-left: 10px;
}

.editor-wrapper {
  flex: 1;
  overflow: hidden;
}
