* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #0b0b0f;
  color: #fff;
}

.leetcode-clone {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-splitter {
  flex: 1;
  width: 100%;
}


.difficulty {
  margin-left: 10px;
  font-size: 0.8em;
  padding: 3px 8px;
  border-radius: 4px;
}

.difficulty.easy {
  background-color: #e6f7e6;
  color: #28a745;
}

.difficulty.medium {
  background-color: #fff3e6;
  color: #ff8c00;
}

.difficulty.hard {
  background-color: #ffe6e6;
  color: #dc3545;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: #0b0b0f;
  padding: 14px 24px;
  border-bottom: 1px solid #262626;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
  color: #3b82f6; /* accent */
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-links a {
  color: #aaa;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #3b82f6;
}

.nav-links a.active {
  color: #3b82f6;
  font-weight: bold;
}

.nav-actions .nav-btn {
  background: #3b82f6;
  color: #0f0f0f;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.nav-actions .nav-btn:hover {
  background: #2563eb;
  transform: translateY(-2px);
}

/* Mobile responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
